
{% extends "layout.twig" %}

{% block content %}

    {{widget('feature', 'featurehome', {"header": "profile", "strapline":"profile", "buttonText":"Lorem Ipsum","defaultBgImg": asset('images/feature-bg.jpg'), 'positionTopPercentage': '50','showBtn': true})|raw}}

      <div class="menu-container">
            {{widget('extendednavigation', 'navigationheader', {})|raw}}
      </div>

      <div class="canvas">
          <div class="wrapper clearfix">
              {{zone('main')|raw}}
          </div>
      </div>
      <footer class="bk-footer">
        {{widget('companyaddress', 'companyaddress', {})|raw}}
        {{widget('profile', 'footercolumn1profilePhone', { 'profileType':'phone', 'phone':'profile'})|raw}} 
        </footer>

{% endblock %}