
{% extends "layout.twig" %}

{% block content %}
  
      <div class="widget feature">    
        <div class="feature-bgimg">
          <div class="content">
            <span class="spare wrapper">
                <div class="companyheader">
                   {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
                </div>
              </span>
          </div>
      </div>

      <div class="menu-container">
            {{widget('extendednavigation', 'navigationheader', {})|raw}}
      </div>

      <div class="canvas">
          <div class="wrapper clearfix">
              {{zone('main')|raw}}
          </div>
      </div>
      <footer class="bk-footer">
        {{widget('companyaddress', 'companyaddress', {})|raw}}
        {{widget('profile', 'footercolumn1profilePhone', { 'profileType':'phone', 'phone':'profile'})|raw}} 
        </footer>

{% endblock %}

