{% for section in sections %}
    <li class="menu-sub-section">
    {% if section.parentRef is null %}
        <div class="menu-sub-section-header">
            <h2 class="menu-sub-section-name">{{ section.name }}</h2>
            {% if section.availability is not null %}
                <p class="menu-sub-section-availability">{{ section.availability }}</p>
            {% endif %}
            {% if section.description is not null %}
                <p class="menu-sub-section-description">{{ section.description }}</p>
            {% endif %}
        </div>
    {% endif %}

    {% if section.items|length %}
        <ol class="menu-sub-section-items">
            {% for item in section.items %}
                <li class="menu-sub-section-item{% if item.promoted %} menu-item-promoted{% endif %}">
                    <div class="inner-item">
                    <h3 class="menu-sub-section-item-name">{{ item.name }}</h3>
                    {% if item.prices|length %}
                        <ol class="menu-sub-section-item-prices">
                            {% for price in item.prices %}
                                <li class="menu-sub-section-item-price">
                                    {% if price.name == '' %}
                                        <p class="standard-price">{{ price.price }}</p>
                                    {% else %}
                                        <p class="variant-price">{{ price.name }} {{ price.price }}</p>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ol>
                    {% endif %}

                    {% if item.imageURL is not null %}
                        <img class="menu-sub-section-item-image" alt="" src="{{ item.imageURL }}">
                    {% endif %}

                    {% if item.description is not null %}
                        <p class="menu-sub-section-item-description">{{ item.description }}</p>
                    {% endif %}

                    {% if item.nutritionalProperties|length %}
                        <h4 class="menu-sub-section-item-nutritional-title">Nutritional information</h4>
                        <ul class="menu-sub-section-item-nutritional-props">
                            {% for prop in item.nutritionalProperties %}
                                <li class="menu-sub-section-item-nutritional-prop"><p>{{ prop }}</p></li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    {% if item.dietaryInfo|length %}
                        <div class="menu-sub-section-item-dietary-props">
                            {% for key, value in item.dietaryInfo %}
                                {% if value == 1 %}
                                    <span class="{{ key }}-icon dietary-icon"></span>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div><!--end inner-item-->
                </li>
            {% endfor %}
        </ol>
    {% endif %}
    </li>
{% endfor %}

